@import "bourbon/bourbon";
@import "neat/neat";
  
body {
  background: url(bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}


  .innie { 
    @include span-columns(5);
    margin-right: 10px;
    margin-left: 10px;
  }


h1 {
  text-align: center;
}